/* For Desktop 1440px */
* {
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
    font-family: 'Open Sans';
    color: hsl(192, 100%, 9%) ;
    font-weight: 700 ;
}
html {
    font-size: 18px ;
}
body {
    position: relative ;
    width: 100% ; 
}

 #introduction {
    height: 38.5em ;
/*    width: 100vw ;*/
    background: #F6FDFF url(images/bg-hero-desktop.svg) ;
    padding: 3.1em 4.5em 2.5em 4.5em;
}

#introFirstPart{
    display: flex ;
    justify-content: space-between ;
}

#introFirstPart img{
    width: 11em ; 
} 
#introFirstPart span a{
    padding: 0.78em 3.5em; 
    margin: 0 ;
    border-radius: 50px ;
    background-color: white;  
    box-shadow: 0 10px 44px 0 rgba(0,0,0,.05);
    align-self: center ;
    text-decoration: none ;
}
#introFirstPart span:hover {
    cursor: pointer ;
}

#introSecPart {
    margin-top: 3.9em;
    display: flex ;
}

#text {
    width: 29em;
    margin-right: 86.5px ;
    align-self: center ;
}
#text h1{
    width: 24rem ;
    font-family: 'Poppins' ;
    font-weight: bolder;
    font-size: 2.19em ;
    margin-bottom: 2.7rem ;
}
#text p{
    color: hsl(192, 100%, 9%) ;
    font-family: 'Open Sans'; 
    margin-bottom: 1.73rem ;
    font-size: 17.5px ;
    font-weight: 400 ;
}
#text span {
    width: 15.56em ;
    height: 3.1em ;
    padding: 1.17em 4em; 
    display: flex;
    border-radius: 50px ;
    background-color: #FF52C1;
    box-shadow: 0 10px 44px 0 rgba(0,0,0,.05);
}
#text a {
    margin: 0 ;
    color: white ;
    text-align: center ;
    font-size: 13.5px
}
#text span:hover {
    cursor: pointer ;
}
#introSecPart img {
    width: 38em ;
}

main{
    display: flex ;
    flex-direction: column ;
    padding: 9.14em 5.56em 19.5em 5.56em ;
}

.boxes {
    width: 100% ;
    margin: 0 auto 6vh auto;
    display: flex ;
    justify-content: space-between;
    padding: 3.06em 2em 3.06em 6.4em ;
    border-radius: 10px ;
    box-shadow: 0 10px 44px 0 rgba(0,0,0,.05);
}
.boxes:nth-child(3){
    margin: 0 auto ;
}
.boxes div {
    width: 25em ;
    align-self: center ;
/*    margin-right: 173px ;*/
}
.boxes:nth-child(2) div {
/*    margin-left: 90px ;*/
}
.boxes div h1 {
    width: 18rem ;
    font-family: 'Poppins' ;
    font-weight: bolder;
    font-size: 1.56em ;
    padding-bottom: 1em ;
}
.boxes div p{
    width: 100% ;
    color: hsl(208, 11%, 55%) ;
    font-family: 'Open Sans'; 
    font-size: 0.9em;
    font-weight: 400 ;
}

.boxes img {
    height: 16.5em ;
    width: 22.8em ;
}


footer {
    height: 30.7em ;
    background-color: hsl(192, 100%, 9%) ;
    padding: 10.3em 6.4em 6.2em 6.4em;
    display: flex ;
}

footer a, footer p, footer span {
    color: hsl(193, 100%, 96%) ;
    font-weight: 400 ;
    font-size: 0.834rem ;
}
#contact {
    width: 20.8rem ;
    height: 14.35rem ;
    margin-right: 6.4rem ;
}
#contact > img {
    margin-bottom: 2.05rem ;
}
#contact ul li {
    margin-bottom: 1.54rem ;
    list-style: none ;
}
#contact ul li p{
    display: inline;
}
#contact ul li img {
    padding-right: 0.9rem ; 
}

#nav {
    width: 20.8rem ;
    margin-right: 8rem ;
    padding: 5rem 0 2.8rem 0;
    display: flex ;
    flex-direction: row;
    flex-wrap: wrap ;
}

#nav a {
    width: 5.6rem ;
    margin-bottom: 1.54rem ;
}
a:nth-child(odd) {
    margin-right: 5.6rem ;
}
#nav a:hover {
    cursor: pointer ;
}

#socialmedia {
    width: 6.4rem;
    padding: 4.1rem 0 8.2rem 0 ;
    display: flex ;
    justify-content: space-between
}
#socialmedia img {
    width: 1rem ;
    height: 1rem ;
}
#socialmedia img:hover {
    cursor: pointer ;
}

#floatbox {
/*    width: 44.8rem ;*/
    padding: 4.1rem 5rem 3.08rem 5rem;
    position: absolute ;
    bottom: 70vh ;
    left: 17.6rem ;
    right: 17.6rem ;
    background-color: white ;
    border-radius: 10px ;
    box-shadow: 0 10px 44px 0 rgba(0,0,0,.05);
    display: flex ;
    flex-direction: column ;
}
#floatbox h1 {
    font-family: 'Poppins' ;
    font-weight: bolder;
    font-size: 1.7em ;
    margin-bottom: 2.05rem ;
    text-align: center ;
}
#floatbox span {
    width: 22.4rem ;
    padding: 1.38rem 4.8rem; 
    margin: 0 auto;
    display: inline-block;
    border-radius: 50px ;
    background-color: #FF52C1;
    box-shadow: 0 10px 44px 0 rgba(0,0,0,.05);
    text-align: center ;
}
#floatbox a {
    margin: 0 ;
    width: 12.8rem ;
    color: white ;
    font-size: 1rem ;
    font-weight: 700 ;
}
#floatbox span:hover {
    cursor: pointer ;
}

#copyright {
    width: 55vw ;
    position: absolute ;
    bottom: 1vh ;
    left: 18rem ;
/*    margin-top: 5vh;*/
    color: white ;
    text-align: center ;
}
#copyright p, #copyright a {
    margin: 0 ;
    color: white ;
    font-weight: 400 ;
    font-size: 15px ;
}


/* For Mobile 451px */

@media screen and (max-width:451px){
    
 #introduction {
    width: 100vw ;
    height: 120vh ;
    background: #F6FDFF url(images/bg-hero-mobile.svg);
    padding: 3vh 4vw 3vh 4vw;
}   
    
 #introFirstPart{
    display: flex ;
    justify-content: space-between ;
}
#introFirstPart img {
    width: 28vw ;
    height: 3vh ;
    }

#introFirstPart span a{
    width: 14vw ;
    padding: 1vh 6vw; 
    font-size: 13px ;
/*    margin-top:  ;*/
    border-radius: 50px ;
    background-color: white;  
    box-shadow: 0 10px 44px 0 rgba(0,0,0,.05);
    align-self: center ;
    text-decoration: none ;
}
#introFirstPart span:hover {
    cursor: pointer ;
}   
    
#introSecPart {
    margin-top: 10vh;
    padding: 4vh ;
    display: flex ;
    flex-direction: column ;
    align-items: center ;
}

#text {
    width: 82vw;
    margin-right: 0 ;
    display: flex;
    flex-direction: column ;
    align-items: center ;
}
#text h1{
    width: 68vw ;
    margin: 0;
    font-family: 'Poppins' ;
    font-weight: bolder;
    font-size: 23px ;
    margin-bottom: 4vh ;
    text-align: center ;
}
#text p{
    color: hsl(192, 100%, 9%) ;
    font-family: 'Open Sans'; 
    margin-bottom: 4vh ;
    font-size: 16px ;
    font-weight: 400 ;
    text-align: center ;
}
#text span {
    width: 65vw ;
    padding: 2vh 16vw; 
    margin-bottom: 7vh ;
    display: inline-block;
    border-radius: 50px ;
    background-color: #FF52C1;
    box-shadow: 0 10px 44px 0 rgba(0,0,0,.05);
}
#text span a {
    width: 33vw ;
    font-size: 12px;
    font-weight: 600 ;
    margin: 0 ;
    color: white ;
    text-align: center ;
}
#text span:hover {
    cursor: pointer ;
}
#introSecPart img {
    width: 80vw ;
}
    
    
 main{
    display: flex ;
    flex-direction: column ;
    padding: 8vh 5vw 38vh 5vw ;
}

.boxes {
    width: 90vw ;
    margin: 0 auto 5vh auto;
    padding: 2.5vh 10vw 4.5vh 10vw;
    display: flex ;
    flex-direction: column-reverse;
    align-items: center ;
    border-radius: 10px ;
    box-shadow: 0 10px 44px 0 rgba(0,0,0,.05);
}
.boxes:nth-child(2) {
    flex-direction: column ;
}
.boxes:nth-child(3){
    margin: 0 auto ;
}
.boxes div {
    width: 70vw ;
    align-self: center ;
    margin: 8vh 0 0 0 ;
    text-align: center ;
}
.boxes div h1 {
    width: 100% ;
    padding: 0 ;
    margin: 0 auto 2vh auto ;
    margin-right: 0 ;
    font-family: 'Poppins' ;
    font-weight: bolder;
    font-size: 20px ;
}
.boxes div p{
    width: 68vw;
    padding: 0 ;
    margin: 0 auto;
    color: hsl(208, 11%, 55%) ;
    font-family: 'Open Sans'; 
    font-size: 14px;
    font-weight: 400 ;
}
.boxes:nth-child(3) div p {
    font-size: 14.5px ;    
}

.boxes img {
    margin: 0 ;
}
.boxes:nth-child(1) img {
    height: 34vh ;
    width: 62vw ;
}
.boxes:nth-child(2) img {
    height: 28vh ;
    width: 64vw ;
}
.boxes:nth-child(3) img {
    height: 32vh ;
    width: 65vw ;
}   
    
    
footer {
    height: 135vh ;
    background-color: hsl(192, 100%, 9%) ;
    padding: 21vh 6vw 10vh 4vw;
    display: flex ;
    flex-direction: column ;
}

footer a, footer p, footer span {
    color: hsl(193, 100%, 96%) ;
    font-weight: 400 ;
    font-size: 14px ;
}
#contact {
    width: 90vw ;
    height: 40vh ;
    margin: 0 0 10.2vh 0;
}
#contact > img {
    width: 46vw ;
    height: 5vh ;
    margin-bottom: 3vh ;
}
#contact ul li {
    margin-bottom: 5vh ;
    list-style: none ;
}
#contact ul li p{
    display: inline;
    width: 80vw ;
}
#contact ul li img {
    padding-right: 4vw ; 
}

#nav {
    width: 28vw ;
    margin: 0 ;
    padding: 0;
    display: flex ;
    flex-direction: column;
    flex-wrap: wrap ;
}

#nav a {
    width:28vw ;
    margin-bottom: 4vh ;
}
a:nth-child(6) {
    margin: 0;
}
#nav a:hover {
    cursor: pointer ;
}

#socialmedia {
    width: 32vw ;
    margin: 0 auto ;
    padding: 0 ; 
    display: flex;
    justify-content: space-around ;
}
#socialmedia img {
    margin-right: 4vw ;
}

#socialmedia img:hover {
    cursor: pointer ;
}
  
 #floatbox {
    width: 94vw ;
    padding: 8vh 7vw 6.5vh 7vw;
    position: absolute ;
    bottom: 125vh ;
    left: 3vw ;
    background-color: white ;
    border-radius: 10px ;
    box-shadow: 0 10px 44px 0 rgba(0,0,0,.05);
     display: flex ;
     flex-direction: column ;
     justify-content: center ;
}
#floatbox h1 {
    font-family: 'Poppins' ;
    font-weight: bolder;
    font-size: 17.5px ;
    margin-bottom: 5vh ;
}
#floatbox span {
    width: 60vw ;
/*    height: 6.5vh ;*/
    padding: 2vh 14vw; 
    margin: 0 auto;
    display: inline-block;
    border-radius: 50px ;
    background-color: #FF52C1;
    box-shadow: 0 10px 44px 0 rgba(0,0,0,.05);
    text-align: center ;
}
#floatbox span a {
    margin: 0 ;
    width: 28vw ;
    height: 2.6vh ;
    color: white ;
    font-weight: 700 ;
    font-size: 11px ;
}
#floatbox span:hover {
    cursor: pointer ;
}
    
 #copyright {
    position: absolute ;
    width: 90vw ;
    bottom: 8vh ;
    left: 5vw;
    margin: 0 auto ;
    color: white ;
    text-align: center ;
}
#copyright p, #copyright a {
    margin: 0 ;
    color: white ;
    font-weight: 400 ;
    font-size: 12px ;
} 
    
}
